body{
  text-align: center;
  max-width: 70%;
}

header {
  margin-top: 20px;
  background-color: yellow;
  width: 100%;
  height: 150px;
  border: 1px solid black;
}

.game-board {
  /*position: static;*/
  /*min-width: 650px;*/
  /*margin-top: 30px;
  margin-bottom: 30px;*/
  margin: 30px auto;
  margin-left: 70px;
  /*float: center;*/
  /*width: 100%;*/

}

section > div {
  width: 200px;
  height: 200px;
  border-width: 3px;
  border-style: solid;
  float: left;
}

footer {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  background-color: yellow;
}

.buttons {
  margin-top: 20px;
  float: clear;
}

.button{
  background-color: #193D5C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.left-button{
  margin-left: 100px;
  float: left;
}

#divFour {
	clear: both;
}

#divSeven{
	clear: both;
}

.modal {
  text-align: left;
}

.xBox {
	background-image: url(x.png);
	background-repeat: no-repeat;
	background-position: center;
}

.oBox{
	background-image: url(o.png);
	background-repeat: no-repeat;
	background-position: center;
}
